.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.trash {
  top: 10px;
  right: 10px;
  place-content: center;
}

.trash:hover {
  cursor: pointer;
  color: rgb(230, 90, 90);
  transform: scale(1.2);
}

.make {
  width: 25%;
}

.continue-btn {
  background: #3d9970;
}

.continue-btn:hover {
  background: #0f965991;
}

@media (width <= 375px) {
  .cart-page {
    max-width: 100%;
    overflow-x: hidden;
  }

  .cart {
    display: flex;
    flex-direction: column;
  }

  .make {
    width: 85%;
  }

  .cart-card {
    min-width: 100%;
    flex-direction: column;
  }

  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
  }
}
